<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carMapper">
<!--국가로 제조사 조회 -->
<select id="carMakerFromKorea"  resultType="String">
select DISTINCT  Maker
from CAR_MAKER
where Maker in ('현대','기아','삼성','쌍용')
</select>
<select id="carMakerFromForeign" resultType="String">
select DISTINCT Maker
from CAR_MAKER
where Maker not in ('현대','기아','삼성','쌍용')
</select>

<select id="carModelFromMaker" parameterType="String" resultType="String">
	select DISTINCT model
	from CAR_MAKER
	where Maker = #{maker}
</select>


<select id="carInfo" parameterType="String" resultType="carDomain">
SELECT cma.maker, cma.model, cmo.car_year, cmo.price,
cmo.cc, cmo.car_img, cmo.input_date

FROM CAR_MAKER cma, CAR_MODEL cmo

where cmo.model=cma.model
and cmo.model=#{model}
order by cmo.input_date desc
</select>


<!--수업에서 만든 코드  -->

<!-- 국가에 대한 제조사 조회 -->
<select id="selectMaker" parameterType="String" resultType="String">
select  Maker
from car_country
where country=#{ country }
</select>

<!-- 제조사에 대한 모델명 조회 -->
<select id="selectModel" parameterType="String" resultType="String">
select model
from car_maker
where maker=#{ maker }
</select>

<!-- 모델명에 대한 모든 차량의 이미지 년식 가격 옵션 배기량 입력일 조회  -->
<select id="selectCar" parameterType="String" resultType="carDomain">
select car_year, price, cc, car_img, input_date
from car_model
where model=#{ car_model }
</select>

</mapper>

